body {
    background-color: #E8DBC5;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    margin-left: 2%;
    margin-right: 2%;
}
.content {
    margin-top: 2%;
    margin-bottom: 2%;
}

.navbar {
    background-color: #058ED9;
    box-shadow: 10px 10px;
    margin: 2% 2% 2% 2%;
}

.navbar-brand {
    color: white;
}

.content-col {
    color: black;
    box-shadow: 10px 10px 0px 0px black;
    padding: 8% 8% 8% 8%;
}
.content-col-quote {
    padding: 0% 2% 0% 2%;
}
.bg-blue {
    background-color: #6397d0;
}
.bg-red {
    background-color: #d06363;
}
.content-name {
    line-height: 100%;
    margin-top: 4%;
}

.content-caption {
    margin-top: 4%;
}

.blockquote-footer {
    color: black;
}